Package: python3-traxcommon
Source: python-traxcommon
Version: 0.5.29
Architecture: amd64
Maintainer: Trax DevOps <devops@traxtech.com>
Installed-Size: 31
Depends: python3-pysmb, python3-requests (>= 2.0.0), python3-repoze.lru, python3-magic, python3-cryptography, python3-six
Section: python
Priority: optional
Description: Common python functionality for trax technologies developers and
 devops rockstars. virtual package
