*.pyc
debian/*.substvars
debian/*.debhelper*
debian/files
debian/python-traxcommon/
debian/python3-traxcommon/

# Passwords and keys
etc/credentials

# Ignore coverage
.coverage
coverge/*

# Virtual environment
.Python
bin/activate*
bin/pip*
bin/python*
bin/easy_install*
lib
include
pip-selfcheck.json
src

# OSX Metadata
.DS_Store

# Things installed in virtualenv by dependencies
bin/asadmin
bin/bundle_image
bin/cfadmin
bin/cq
bin/cwutil
bin/elbadmin
bin/fetch_file
bin/instance_events
bin/kill_instance
bin/launch_instance
bin/list_instances
bin/lss3
bin/nosetests
bin/nosetests-2.7
bin/pyami_sendmail
bin/route53
bin/s3multiput
bin/s3put
bin/sdbadmin
bin/taskadmin
man/man1/nosetests.1
