pysmb==1.1.13
requests>=2.0.0
repoze.lru
-e git+git@github.com:threatstack/libmagic.git@5.18#egg=python-magic&subdirectory=python
cryptography
xmltodict
six

pytest==2.8.5
pytest-cov==1.8.0
tox==1.8.0
