Source: python-traxcommon
Maintainer: Trax DevOps <devops@traxtech.com>
Section: python
Priority: optional
Build-Depends: python-dev (>= 2.6.6-3), debhelper (>= 9)
X-Python-Version: >= 2.7
Standards-Version: 3.9.3

Package: python-traxcommon
Architecture: any
Depends: ${misc:Depends},
 ${python:Depends},
 ${shlibs:Depends},
 python-pysmb,
 python-requests (>= 2.0.0),
 python-repoze.lru,
 python-magic,
 python-boto,
 python-kerberos,
 krb5-user,
 python-winrm,
Provides: ${python:Provides}
Description: Common python functionality for trax technologies developers and
 devops rockstars
