Source: python-traxcommon
Maintainer: Trax DevOps <devops@traxtech.com>
Section: python
Priority: optional
Build-Depends: python-dev (>= 2.6.6-3), debhelper (>= 9), python-nose,
X-Python-Version: >= 2.7
Standards-Version: 3.9.4

Package: python-traxcommon
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends},
Provides: ${python:Provides}
Description: Common python functionality for trax technologies developers and
 devops rockstars
